{% extends 'base.html.twig' %}



{% block body %}


<div class="landing">
        <div class="landing-overlay">
            <h1>Bienvenue sur Le Coin du Geek</h1>
            <p>Découvrez nos jeux rétro en vente</p>
    
            <a href="{{  path('article_add') }}" class="btn btn-primary">Découvrir notre gamme de jeux rétro</a>
            
        </div>
    </div>
{% endblock %}